/* ヘッダ */
div#header {
	z-index: 99998;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	margin: 0;
	margin-bottom: 2.0em;
	padding: 0.8em;
	border-bottom: 1px solid #bbb;
	display: flex;
}

div#header div.button-group {
	margin-right: 1.0em;
	padding-right: 1.0em;
	border-right: 1px solid #bbb;
}

div#header div.button-group div.button-group-title {
	font-weight: bold;
	margin-bottom: 0.1em;
}

/* ソート等 */
p#sort-controllers-container {
	margin: 0;
	padding: 0 0.8em;
}

p#sort-controllers-container span#panel-display-mode-controller span {
	display: inline;
	vertical-align: top;
}

p#sort-controllers-container span#panel-display-mode-controller span a {
	font-size: 150%;
	user-select: none;
}

p#sort-controllers-container span#panel-display-mode-controller span a:first-child {
	border-right: 1px solid #bbb;
	padding-right: 0.4em;
	margin-right: 0.4em;
}

p#sort-controllers-container:has(+div#formation-table-container.grid-mode) span#panel-display-mode-controller span a:last-child,
p#sort-controllers-container:not(:has(+div#formation-table-container.grid-mode)) span#panel-display-mode-controller span a:first-child {
	pointer-events: none;
	color: #000;
	font-weight: bold;
}

/* メイン編成表 */
div#formation-table-container {
	margin: 0.8em;
	padding-bottom: 2em;
}

div#formation-table-container div.generated-table-container {
	margin-bottom: 2.0em;
}

div#formation-table-container p.table-title {
	background-color: var(--formation-table-main-border);
	padding: 0.25em;
	color: #fff;
	margin-top: 0;
}

div#formation-table-container p.table-subtitle {
	background-color: var(--sub-light-color);
	padding: 0.25em;
	color: #000;
}

div#formation-table-container div.generated-table-headers {
	margin-bottom: 0.5em;
}

/* グリッド表示モード */
div#formation-table-container.grid-mode {
	column-count: 2;
	column-gap: 1.6em;
}

div#formation-table-container.grid-mode div.generated-table-container {
	page-break-inside: avoid;
	break-inside: avoid;
}

/* 交互に色を付けるやつ */
table.horizontal-stripes tr:nth-child(2n+1),
table.vertical-stripes tr td:nth-child(2n+1),
table.vertical-stripes.not-formated-car-table tr:nth-child(2n) td:nth-child(2n),
table.formation-view tr:nth-child(2) td:nth-child(2n+1) {
	background-color: var(--table-alternate-color-2);
}

table.horizontal-stripes tr:nth-child(2n),
table.vertical-stripes tr td:nth-child(2n),
table.vertical-stripes.not-formated-car-table tr:nth-child(2n) td:nth-child(2n+1),
table.formation-view tr:nth-child(2) td:nth-child(2n) {
	background-color: var(--table-alternate-color-1);
}

div#formation-table-container table.formation-table tr td {
	padding: 0.15em 0.3em;
}

td.car {
	text-align: center;
}

div#forfc-not-formated-cars-table td.car.selected {
	background-color: #9a65d3;
	color: #fff;
}

div#forfc-not-formated-cars-table td.car.selected a:link {
	color: #fff;
}

/* テーブルのセルにグレーの線をつける */
div#formation-table-container table.formation-table tr td,
table.formation-view tr:nth-child(2) td,
div#cardt-main table td:nth-child(1),
div#formationTemplatesDialog table tr td:not(.formation-name):not(.formation-template-name):not(:nth-last-child(3)),
table.management-dialog-objects-list tr td {
	padding: 0.15em 0.5em;
	border-right: 1px solid #ccc;
}

#seriesDispDialog .formation-template-name {
	width: 30em;
}

div#cardt-main table td:nth-child(2) {
	padding: 0.15em 0.5em;
}

div.generated-table-container:has(table.formation-table.hidden) {
	display: none;
}


/* 右側に濃い色の線をつけるやつ */
div#formation-table-container table.formation-table tr td:first-child,
td.formation-name,
div#formationTemplatesDialog table tr td:nth-last-child(3),
td.formation-template-name {
	border-right: 1px solid var(--formation-table-main-border);
}

#seriesDispDialog td.formation-name,
#formationTemplatesDialog td.formation-name {
	border: none;
}

/* 左側に濃い色の線を付けるやつ */
div#formation-table-container table.formation-table tr td:nth-last-child(2),
div#formation-table-container table.formation-table tr td:nth-last-child(3) {
	border-right: none;
}

div#formation-table-container table.formation-table tr td:nth-last-child(1),
div#formation-table-container table.formation-table tr td:nth-last-child(2),
#formationTemplatesDialog tr td.buttons {
	border-left: 1px solid var(--formation-table-main-border);
}

/* 未組成車両テーブル */
table.not-formated-car-table tr {
	border-bottom: 2px solid var(--formation-table-main-border);
}

table.not-formated-car-table tr td {
	border-left: 2px solid var(--formation-table-main-border);
	padding: 0.15em 0.5em;
}

table.formation-view tr:nth-child(1) td {
	background-color: var(--formation-table-main-border);
	color: #fff;
}

div#formation-table-container table.not-formated-car-table {
	border: none;
}

div#formation-table-container table.not-formated-car-table tr {
	border-bottom: none;
}

div#formation-table-container table.not-formated-car-table tr td {
	border: 2px solid var(--formation-table-main-border);
}

div#forfc-new-formated-cars-table {
	margin-top: 1.0em;
}

/* ダイアログの中のテーブル */
.dialog-content .table-container {
	max-height: 20em;
	overflow: auto;
}

/* 編成テンプレート */
td.formation-template-name {
	font-size: 0.7em;
	color: #444;
	padding: 0.15em 0.6em;
	padding-left: 0;
}

/* TD要素の見出し */
td.formation-name,
#cardt-main table tr>td:first-child:not(.remark) {
	font-weight: bold;
	color: var(--formation-table-main-border);
	text-align: right;
	padding: 0.15em 0.6em;
}

#cardt-main table tr>td:first-child.remark {
	text-align: left;
}

/*車両詳細ダイアログのTD内*/
#cardt-main table td:first-child {
	width: 6.3em;
}

#cardt-main table {
	width: 100%;
}

#cardt-main table tr>td ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

#cardt-main table tr>td ul li::before {
	content: "・";
	display: inline;
}

/* 廃車 */
table:not(#conserved-car-table) td.dropped {
	text-decoration: line-through;
	background-color: #bbb;
}

/* 重複した車両番号 */
td.duplicated-carnumber {
	background-color: #ff0 !important;
}

/* 重複した車両 */
td.duplicated-car {
	background-color: #f00 !important;
}

/* ダイアログの情報保持用DIV */
div[id$="-opening"] {
	display: none;
}

/* 車両詳細および編成詳細ダイアログ内の車両番号･編成番号 */
.dialog-main-message:has(#fmdt-main),
.dialog-main-message:has(#cardt-main) {
	margin-top: -0.8em;
}

p:has(#cardt-car-number),
p:has(#fmdt-formation-number) {
	vertical-align: bottom;
	display: inline;
}

#cardt-car-number,
#fmdt-formation-number {
	font-size: 2.0em;
}

/* 編成表内形式名横ボタン */
.table-title button {
	border: #fff 1px solid;
	margin-left: 0.8em;
	transform: translateY(-0.2em);
}

/* 備考編集ボタン */
.remark button:first-child {
	margin-left: 0;
}

.remark button:not(:first-child) {
	margin-left: 1em;
}

/* 改番ボタン */
p.car-name button {
	margin-left: 1em;
	transform: translateY(-0.35em);
}

/* 各種ダイアログ */
#createFormationTemplateDialog .preview-edit-button {
	margin-right: 0.5em;
}

#createFormationTemplateDialog .preview-car {
	text-align: center;
}

#createFormationTemplateDialog td.editing {
	background-color: #ff7878;
	pointer-events: none;
}

#createFormationTemplateDialog td.editing p a {
	pointer-events: none;
	color: #999;
}

#seriesDispDialog .table-container,
#formationTemplatesDialog .table-container {
	border: 2px solid var(--formation-table-main-border);
}

#seriesDispDialog .table-container table,
#formationTemplatesDialog .table-container table {
	border: none;
}

#seriesDispDialog td.formation-name.hidden {
	color: #ccc;
}

#seriesDispDialog label.mku-checkbox-container {
	display: inline-block;
	font-size: 0.8em;
	vertical-align: middle;
	margin-left: 0.15em;
}

#formationDetealDialog #fmdt-remark {
	margin-top: 1.4em;
}

#formationDetealDialog #fmdt-remark-remark {
	margin-right: 0.25em;
}

#editJSONDialog #jsed-main {
	width: 100%;
	height: 20em;
}

td.preview-car span {
	user-select: none;
	cursor: grab;
	display: inline-block;
}

td.preview-car:has(span.selected) {
	background-color: #ccc !important;
}

td.preview-car:has(span.left-border) {
	border-left: 2px #f00 solid !important;
	background-color: var(--selection-hover-highlight) !important;
}

td.preview-car:has(span.right-border) {
	border-right: 2px #f00 solid !important;
	background-color: var(--selection-hover-highlight) !important;
}

td.preview-car:has(span.selected) {
	background-color: #ccc !important;
}

/* 車両及び編成の状態 */
p.car-name span.car-status {
	background-color: #00c900;
	color: #fff;
	padding: 0 0.2em;
	float: right;
	margin-top: 0.5em;
}

p.car-name span.car-status::before {
	content: "check";
}

p.car-name span.car-status.dropped {
	background-color: #f00;
}

p.car-name span.car-status.dropped a.update-yearmonth-link {
	color: #fff;
}

p.car-name span.car-status.dropped::before {
	content: "ban";
}

p.car-name span.car-status.conserved {
	margin-right: 0.3em;
	margin-left: 1.0em;
	background-color: #0081c9;
}

p.car-name span.car-status.conserved::before {
	content: none;
}

/* 年月入力欄 */
#now-time-inputs {
	margin: auto 0.6em;
	margin-right: 0;
}

/* プレビュー欄削除ボタン */
p:has(a.lsf.preview-delete-button) {
	margin: 0;
	text-align: center;
}

/* ダイアログのテーブル内ボタン */
.dialog-content td.buttons button:not(:first-child),
table.management-dialog-objects-list tr:not(:nth-child(1)) td:last-child button:not(:first-child) {
	margin-left: 0.4em;
}

/*ダイアログ内のボタンリスト*/
.dialog-content ul.dialog-buttons-list {
	list-style: none;
	padding-left: 0;
}

.dialog-content ul.dialog-buttons-list li {
	margin: 1em 0;
}

.dialog-content ul.dialog-buttons-list li button {
	width: 100%;
}

.dialog-content ul.dialog-buttons-list li button.lsf-icon::before {
	margin-right: 0.3em;
}

/* マスタ管理画面の検索欄 */
.management-dialog-searchbox-container>span:not(:last-child) {
	margin-right: 0.4em;
}

/* マスタ管理画面のリスト */
.generated-table-container:has(table.management-dialog-objects-list) {
	height: 50vh;
	overflow-y: scroll;
}

table.management-dialog-objects-list {
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	min-width: 740px;
}

table.management-dialog-objects-list tr:nth-child(1) {
	text-align: center;
	font-weight: bold;
	background-color: var(--formation-table-main-border) !important;
	position: sticky;
	top: 0;
	left: 0;
}

table.management-dialog-objects-list tr:nth-child(1) td {
	border-bottom: var(--formation-table-main-border) 2px solid;
}


table.management-dialog-objects-list tr td:first-child {
	padding: 0;
}

table.management-dialog-objects-list tr td:first-child {
	width: 1.5em;
}

table.management-dialog-objects-list tr td:last-child {
	width: 13.1em;
}

table.management-dialog-objects-list tr td:last-child {
	border-right: none;
}

table.management-dialog-objects-list input,
table.management-dialog-objects-list tr:not(:nth-child(1)) {
	cursor: pointer;
}

table.management-dialog-objects-list tr td:first-child,
table.management-dialog-objects-list tr td:last-child {
	cursor: auto;
}

table.management-dialog-objects-list tr:nth-child(1) td {
	color: #fff;
}

table.management-dialog-objects-list tr:not(:nth-child(1)) td:nth-child(2) {
	text-align: right;
}

table.management-dialog-objects-list tr:not(:nth-child(1)) td:not(:nth-child(2)) {
	text-align: center;
}

table.management-dialog-objects-list tr td:nth-last-child(2) {
	max-width: 5em;
	white-space: nowrap;
	overflow: hidden;
}

table.management-dialog-objects-list tr:not(:nth-child(1)):has(input:checked) {
	background-color: var(--selection-highlight) !important;
}

table.management-dialog-objects-list tr:has(input:checked) td {
	color: #fff;
}

#edmsf-cars-edit-button {
	margin-left: 0.75em;
}

#msfmsh-car-adding-button {
	padding: 0.3em;
	margin-left: 0.25em;
}

#editCarMasterDialog .mku-checkbox-container:first-child {
	margin-left: 0;
}

/* 管理画面のリストここまで */

/* 設定画面 */

#generalSettingDialog .color-container {
	display: flex;
}

#generalSettingDialog .color-preview {
	width: 50px;
	height: 50px;
}

/* 設定画面ここまで */

/* 確認･警告･情報ダイアログ */
#confirmDialog,
#AlertDialog,
#infoDialog {
	max-width: 680px;
}