body {
	-webkit-print-color-adjust: exact;
}

#header {
	display: none;
}

div#formation-table-container {
	& div.generated-table-headers {
		position: static;
	}
}

.dialog-area {

	&.on,
	.dialog-content.on {
		display: none;
	}
}