#helpDialog.dialog-content,
#generalSettingDialog.dialog-content {
	max-width: 100%;
	resize: horizontal;
	overflow: hidden;
}

#helpDialog.dialog-content {
	width: 768px;
	top: 2.5em;
}

#generalSettingDialog.dialog-content {
	top: 15%;
	width: 600px;
}

#helpDialog>div.dialog-main-message,
#generalSettingDialog.dialog-content>div.dialog-main-message {
	max-height: unset;
}

#helpDialog .mku-tab-container .mku-tab-content {
	height: calc(100vh - 20em);
}

#generalSettingDialog .mku-tab-container .mku-tab-content {
	height: calc(50vh - 10em);
}

#helpDialog>p.dialog-title,
#generalSettingDialog>p.dialog-title {
	margin-bottom: 0;
}

.mku-tab-container .mku-tab-label-container {
	transform: translateY(1px);

	& label {
		border-color: var(--formation-table-main-border);
		background: var(--formation-table-main-border);
		color: #fff;
		border-radius: 5px 5px 0 0;
		margin-right: 0.25em;

		&:hover {
			background-color: var(--button-face-hover);
		}

		&:active {
			background-color: var(--button-face-active);
		}

		&.on {
			background-color: #fff;
			color: var(--formation-table-main-border);
		}
	}
}

.mku-tab-container .mku-tab-content {
	overflow-y: auto;
	border: 1px solid var(--formation-table-main-border);
	padding: 1em;
	width: 100%;
	font-size: 10pt;

	& h2 {
		border-left: 7px solid var(--formation-table-main-border);
		padding-left: 0.35em;
		font-size: 11.5pt;
		margin-top: 1.5em;
	}

	& h3 {
		font-size: 10.5pt;

		&::before {
			content: "●";
			display: inline-block;
			color: var(--formation-table-main-border);
			margin-right: 0.25em;
			font-size: 0.8em;
			vertical-align: middle;
		}
	}

	*:first-of-type {
		margin-top: 0;
	}
}


@media screen and (max-width: 768px) {
	#helpDialog.dialog-content {
		max-width: 100%;
		width: 100%;
	}

	.mku-tab-container .mku-tab-content {
		height: calc(80vh - 20em);
	}

}